*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: #222;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.content {
    flex: 1;
}

img{
    max-width: 100%;
}
/* main{
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
} */

header{
    display: flex;
    justify-content: space-between;   
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 50px; 
    align-items: center;
    background-color: #000000;
    color: #FAF6F0;
}

header h3{
    padding-left: 25px;
}

header a{
    text-decoration: none;
    color: inherit;
}

header a.logo{
    font-weight: bold;
    font-size: 1.5rem;
}

header nav{
    display: flex;
    gap: 15px;
}

header nav h3{
    padding-right: 26px;
}

div.post{
    max-width: 800px;
    margin: 0 auto;
}

.post-container{
    padding: 10px;
    display: grid;
    grid-template-columns:.9fr 1.1fr;
    gap: 20px;
    margin-bottom: 20px;
    background-color: #F3EEEA;
    border-radius: 10px;
}

body{
    background-color: #EBE3D5;
}

div.post div.texts h2{
    margin: 0;
    font-size: 1.8rem;
}

div h1{
    text-align: center;
}

div.post p.info{
    margin: 6px 0;
    color: #888;
    font-size: .7rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

div.post p.info a.author{
    color:#333;
}

div.post p.summary{
    margin: 10px 0;
    line-height: 1.4rem;
}

form.login form.register{
    max-width: 400px;
    margin: 0 auto;
}

input{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 10px ;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

button{
    width: 100%;
    display: block;
    background-color: #555;
    border: 0;
    color: #fff;
    border-radius: 5px;
    padding: 5px 0;
}

div form input{
    text-align: center;
}

.post_btn{
    margin-top: 5px;
}

a{
    text-decoration: none;
    color: inherit;
}

div.post-page{
    object-position: center center;
}

div.post_page h1{
    text-align: center;   
    margin: 10px 0 5px;
}

div.post_page time{
    text-align: center;
    display: block;
    font-size: .7rem;
    color: #aaa;
}

div.post_page div.author{
    text-align: center;
    margin-bottom: 20px;
    font-size: .7rem;
    font-weight: bold;
}

div.edit-row{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

div.post_page button{
    margin-right: 5px;
    width: 20%;
    background-color: #555;
    border: 0;
    color: #fff;
    border-radius: 5px;
}
  
footer {
    background-color: #000000;
    color: #FAF6F0;
    padding: 8px;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
footer p{
    text-align: right;
}